
{% extends "partials/base.html" %}



{% block title %} 
Skoda mobile app
{% endblock %}

{% block inspect_default %}
	<div class=" container-md">
	<h1> Inspect </h1>
	</div>
		<div class = "container-md p-2">
			<div class=" container-md skoda-box">
				<div class="container-md, skoda-box-content">
					<h2> Driving data  </h2>
				</div>
			</div>
			<div class=" container-md skoda-box">
				<div class="container-md, skoda-box-content">
					<h2> Vehicle Health Report </h2>
				</div>
			</div>


			<div class="container-md skoda-box">
    			<div class="container-md skoda-box-content">
        			<h2><a href="{% url 'insurance' %}">Insurance</a></h2>
    			</div>
			</div>

			<div class=" container-md skoda-box">
				<div class="container-md, skoda-box-content">
					<h2> Service  </h2>
				</div>
			</div>
			<div class=" container-md skoda-box">
				<div class="container-md, skoda-box-content">
				</div>
			</div>
			<div class=" container-md skoda-box">
				<div class="container-md, skoda-box-content">
					<h2> Car Details </h2>
				</div>
			</div>
			<div class=" container-md skoda-box">
				<div class="container-md, skoda-box-content">
					<h2> Digital Manual </h2>
				</div>
			</div>
		</div>
{% endblock %}




